/* timeline from https://mdbootstrap.com/docs/standard/extended/timeline/ */

.timeline-with-icons {
  border-left: 3px solid hsl(0, 0%, 90%);
  position: relative;
  list-style: none;
  margin-top:1.3rem;
}

.timeline-with-icons .timeline-item {
  position: relative;
}

.timeline-with-icons .timeline-item:after {
  position: absolute;
  display: block;
  top: 0;
}

.timeline-with-icons .timeline-icon {
  position: absolute;
  left: -48px;
  background-color: hsl(217, 88.2%, 90%);
  color: hsl(217, 88.8%, 35.1%);
  border-radius: 60%;
  height: 38px;
  width: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  font-size: 1.5rem;
  background-image: url("../imgs/background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body > nav > div {
  font-size:1.5rem;
}
